<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Latihan Web Statis Express.js</title>

    <link rel="stylesheet" href="assets/style.css">
</head>
<body>
    <h1>Halo Dunia!</h1>
    <p>Ini adalah hasil dari Latihan Membuat Website Statis dengan Express.js</p>
    <p>
        <a href="/">Home</a>
        •
        <a href="/contact">Contact</a>
        •
        <a href="/about">About</a>
    </p>
</body>
</html>